/* === reset styles === */

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* === util styles === */
.v-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* === aside styles === */
.aside {
    display: flex;
    padding-top: 20px;
    max-width: 100%;
    width: 100vw;
    min-height: 150px;
}

/* === list styles === */
.list {
    font-size: 16px;
    color: #737373;
    width: 240px;
}
.list-item {
    width: 100%;
    cursor: pointer;
}
.list-item + .list-item {
    border-top: 1px solid #ccc;
}
.list-item:first-child {
    border-top: 1px solid #ccc;
}
.list-item:last-child {
    border-bottom: 1px solid #ccc;
}

/* === drop styles === */
.drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    line-height: 1.5;
    white-space: nowrap;
    transition: color 0.2s;
}
.drop::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.0001 1.5L6.8001 5.5L11.6001 1.5' stroke='%23737373' stroke-width='2.14815' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
.drop:hover {
    color: #111;
}
.drop.show::after {
    transform: rotate(180deg);
}
.droplist {
    font-size: 0.9em;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}
.droplist li {
    padding: 10px 5px;
    margin-left: -30px;
    transition: background-color 0.2s ease-out;
}
.categories li:hover {
    background-color: #01b1e3;
    color: #fff;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.pagination-container li a{
        color: #01b1e3;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
     align-content: start;

  margin: 0 auto;
  transition: all 150ms linear;
}

.gallery input[type="radio"] {
  display: none;
}

.gallery label {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery label:before {
  border: 1px solid #e3e3e3;
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
}

.gallery img {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  
  transition: all 150ms linear;
}

.gallery input[name="select"]:checked + label + img {
  display: block;
}

.gallery input[name="select"]:checked + label:before {
  border: 1px solid #000;
}
